/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS VARIABLES */
:root {
    /* --headercolor: rgb(0, 0, 182); */
}

/* ALL POSTS */
.all-posts {
    display: grid;
    gap: 50px;
    margin: 0 auto;
    width: 500px;
    /* border: 2px solid white; */
}

/* POST CONTAINER */
.post-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-container h1 {
    padding-left: 50px;
    color: black;
}

.user-row {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

.post-container h2 {
    color: black;
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* border: 2px solid red; */
}

.user-row img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.image-row {
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.image-row img {
    max-width: 100%;
}

.post-container button {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 6px;
    background: rgb(134, 134, 238);
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

.post-container button:nth-child(1) {
    margin-left: auto;
    margin-right: 10px;
    transform: rotate(180deg);
}

.post-container button:nth-child(3) {
    margin-left: 10px;
}

.comment-row {
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 2px solid black; */
}

.comment-row li {
    list-style: none;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.comment-row li img {
    max-width: 100%;
    border-radius: 50%;
}

.comment-row li p {
    grid-column: 2;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

/* MEDIA QUERIES */
/* FOR SMARTPHONES */
@media(max-width:500px) {

    .all-posts {
        width: 85%;
    }

    .image-row {
        grid-template-columns: 40px auto 40px;
    }

    .user-row {
        padding-left: 40px;
    }

    .post-container h1 {
        padding-left: 40px;
    }

    .post-container button:nth-child(1) {
        margin-right: 5px;
    }
    
    .post-container button:nth-child(3) {
        margin-left: 5px;
    }

    .comment-row {
        margin-left: 40px;
        margin-right: 40px;
    }
}